@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 37, 40, 61;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 24px;
}

.info-modal {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.click-count {
  font-size: 2vw;
  margin-bottom: 20px;
}

.start-button {
  background-color:rgb(39, 247, 149);
  padding: 0.5rem;
  border-radius: 4px;
  font-weight: 700;
}

.username-input {
  border: 1px solid;
  border-radius: 4px;
  padding: 0.2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.content-container {
  width: 100vw;
  height: 100vh;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}

.top-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.analytics-container {
  padding: 2rem;
  background-color: #e9e9e9;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.buttons-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
}

.button-container {
  padding: 1rem;
}

.error-message {
  color: red;
  font-weight: bold;
  padding: 1em;
}

.button {
  max-width: 100px;
  max-height: 100px;
  width: 8vw;
  height: 8vw;
  border-radius: 8vw;
  min-width: 50px;
  background-color: rgb(37, 40, 61);
  color: #fff;
}

.button.target {
  background-color: rgb(39, 247, 149);
  color: rgb(37, 40, 61);
}

@media only screen and (min-width: 848px) {
  .content-container {
    display: flex;
    justify-content: center;
  }

  .analytics-container {
    width: 50%;
    height: 100%;
  }

  .app-container {
    width: 50%;
    height: 100%;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
